/* --------- ad-box  */

main .ad-container{
    width: 80.0rem;
    margin: 3.0rem auto;

}
main .ad-container img{
    width: 100%;
}

/* --- products-container  */

.products-container {
    width: 90%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3.3rem;
}

.products-container .product-box{
    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;
}

.products-container .product-box img{
    margin-bottom: .8rem;
    height: 26.0rem;
}
.products-container .product-box h3{
    font-weight: 300;
    color: var(--black);
    line-height: 1.3;
    text-align: center;
}

.products-container .product-box p{
    font-weight: 700;
    font-size: 2.2rem;
    
    margin-top: 1rem;
    color: var(--light-blue);
    border-bottom: .03rem solid var(--dark-blue);
}

/* ------------- switch page */
.switch-page{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 4.1rem;
}

.switch-page .arrow{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;

    font-weight: 300;
    padding-right: 0;
}
.switch-page img{
    width: 1.5rem
}

.switch-page a {
    color: var(--black);
    font-weight: 400;

    font-size: 2rem;
    padding-right: 0.5rem;
}
.switch-page a:visited, .switch-page a:link {
    color: var(--black);
}



