<div class="box-addCart">
  <div class="item-confirmation">
    <span class="material-symbols-outlined"> check </span>
    <p>Item adicionado ao carrinho</p>
  </div>
  <div class="productAdd-cart">
    <img src="/assets/images/products/product-action.png" alt="" />
    <div>
      <p>2 ACTION FIGURE: NEZUKO + TANJIRO</p>
      <div>
        <p>Cor: Preto</p>
        <p>Tamanho: M</p>
      </div>
    </div>
  </div>
  <div class="buttonLinks">
    <button>Ver Carrinho</button>
    <button>Finalizar Compra</button>
    <a href="/home">Voltar à Loja</a>
  </div>
</div>
