<<<<<<< HEAD
<head>
  <link rel="stylesheet" href="/assets/css/login.css" />
</head>
<div class="login-box">
  <h2>Cadastre-se</h2>
  <form action="#" method="POST">
    <div class="user-box">
      <label>Nome</label>
      <input type="text" id="name" name="name" required />
    </div>
=======

    <div class="login-box">
      <h2>Cadastre-se</h2>
      <form action="#" method="POST">
        <div class="user-box">
          <input type="text" id="name" name="name" required />
          <label>Nome</label>
        </div>
>>>>>>> a05ec7295d0b195acea4ac6d84aadfb6e36ec17f

    <div class="user-box">
      <label>E-mail</label>
      <input type="text" id="email" name="email" required />
    </div>
    <div class="user-box">
      <label>Senha</label>
      <input type="password" id="password" name="password" required />
    </div>
    <button type="submit" class="text" class="text-block" id="create">
      CRIAR
    </button>
    <div class="change-box">
      <div class="change">Possui uma conta&#63;</div>
      <a href="/login" class="change">Fazer login</a>
    </div>
  </form>
</div>
