<div class="grl">
    <div class='_404'><p>404</p></div>
    <div class="_1"><p>ERROR</p></div>
    <div class="_2"><p>PAGE NOT FOUND</p></div>
    <a class="btn a-white" href="/">Voltar para venus</a>
</div>