<div class="finalize-order">
  <section class="finalizing-order">
    <div class="request-number">
      <p>Número de pedido</p>
      <div>GRYEAG-48390-09324</div>
    </div>
    <div class="finalize">
      <span class="material-symbols-outlined done"> done </span>
      <div>
        <h3>Obrigado por comprar em nossa loja!</h3>
        <p>
          Falta pouco para receber o seu pedido, estamos aguardando a aprovação
          da sua operadora de cartão!
        </p>
      </div>
    </div>
  </section>
  <div class="information-boxes">
    <section class="payment-information">
      <h2 class="description-box">Informações de pagamento</h2>
      <div>
        <h3>Cartão de crédito MasterCard</h3>
        <div>
          <p><b>Total R$ 150,00</b></p>
          <p>em 3x de R$ 50,00</p>
        </div>
        <p><b>Fique Atento!</b></p>
        <p>Você receberá um e-mail informando se o seu pedido foi aprovado.</p>
      </div>
    </section>
    <section>
      <h2 class="description-box">Endereço de entrega</h2>
      <div class="delivery-address">
        <h3>Renan Gomes Fifa</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        <div>
          <h3>Entrega</h3>
          <p><b>Correios - Sedex - R$ 22,50</b></p>
          <p>O prazo de entrega é de bora bill bora bora, bora bibibibi</p>
        </div>
      </div>
    </section>
    <section>
      <h2 class="description-box">Resumo do pedido</h2>
      <div class="orderSummary-box">
        <div>
          <img src="" alt="" />
          <p><b>Moleton susuki azakinage</b></p>
          <p>Cor: <span>Preto</span></p>
          <p>Tamanho: <span>M</span></p>
          <p>R$</p>
          <div class="aling">
            <p>Quantidade: 1</p>
            <p><b>R$</b></p>
          </div>
        </div>
        <div class="line"></div>
        <div class="aling">
          <p>Total dos Itens</p>
          <p><b>R$</b></p>
        </div>
        <div class="aling">
          <p>Frete</p>
          <p><b>R$</b></p>
        </div>
        <div class="aling">
          <p><b>Total do Pedido</b></p>
          <p><b>R$</b></p>
        </div>
      </div>
    </section>
  </div>
</div>
