            <div class="content"> 
            <section class='ad-container'>
                <!-- JAVASCRIPT AQUI -->
                <img src="./assets/images/anuncio.png" alt="">
            </section>

            <section class="products-container">
                
                    <div class="product-box">
                        <div class="imgBx">
                            <img src="/assets/images/products/product-moleton.png" alt="">
                        </div>
                        <h3>Moletom Nezuko Demon Slayer Kimetsu No Yaiba</h3>
                        <p>R$ 79.99</p>
    
                        <button class="buy"><a href="/product/03408245">Compre</a></button>
                    </div>
                
                
                <div class="product-box">
                    <div class="imgBx"><img src="assets/images/products/product-action.png" alt=""></div>
                    <h3>2 ACTION FIGURE: NEZUKO + TANJIRO</h3>
                    <p>R$ 79.99</p>

                    <button class="buy"><a href="/product/68624231">Compre</a></button>
                </div>
                <div class="product-box">
                    <div class="imgBx"><img src="assets/images/products/product-action.png" alt=""></div>
                    <h3>2 ACTION FIGURE: NEZUKO + TANJIRO</h3>
                    <p>R$ 79.99</p>

                    <button class="buy">Compre</button>
                </div>
                <div class="product-box">
                    <div class="imgBx"><img src="assets/images/products/product-action.png" alt=""></div>
                    <h3>2 ACTION FIGURE: NEZUKO + TANJIRO</h3>
                    <p>R$ 79.99</p>

                    <button class="buy">Compre</button>
                </div>
                <div class="product-box">
                    <div class="imgBx"><img src="assets/images/products/product-action.png" alt=""></div>
                    <h3>2 ACTION FIGURE: NEZUKO + TANJIRO</h3>
                    <p>R$ 79.99</p>

                    <button class="buy">Compre</button>
                </div>
                <div class="product-box">
                    <div class="imgBx"><img src="assets/images/products/product-action.png" alt=""></div>
                    <h3>2 ACTION FIGURE: NEZUKO + TANJIRO</h3>
                    <p>R$ 79.99</p>

                    <button class="buy">Compre</button>
                </div>
            </section>
            <div class="switch-page">
                <div>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <span>...</span>
                    <a href="#">8</a>
                    <a href="#" class='arrow'>Próxima
                    <img src="./assets/images/arrow.svg" alt="Seta">
                    </a></div>
            </div>
        </div>
        </main>
        </div>
    </div>
</div>
