            <div class="content"> 
            <section class='ad-container'>
                <div class="swiper mySwiper" >
                <div class="swiper-wrapper">            
               <div class="swiper-slide"> <img src="./assets/images/anuncio.png" alt=""></div>
                <div class="swiper-slide"> <img src="./assets/images/anuncio.png" alt=""></div>
                <div class="swiper-slide"><img src="./assets/images/anuncio.png" alt=""></div>
                <div class="swiper-slide"><img src="./assets/images/anuncio.png" alt=""></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
            </section>

            <section class="products-container">
                <% if(typeof products != 'undefined') {%>
                    <% products.forEach(el => { %>

                        <div class="product-box">
                            <div class="imgBx">
                                <img src="/assets/images/products/<%- el.images[0] %>.png" alt="">
                            </div>
                            <h3><%- el.name %></h3>
                            <p>R$ <%- String(el.value.toFixed(2)).replace('.', ',') %></p>
                            <a class="a-white" href="/product/<%- el.id %>"><button class="buy">Compre</button></a>
                        </div>
                    <% }) %>
                <% } %>

            </section>
        </div>
        </main>
        </div>
    </div>
</div>