<!-- <div class="identification-payment-orderSummary">
  <section class="identification-client">
    <form action="" method="get">
      <h2>1 Identificação</h2>
      <div class="client-data">
        <h3>Dados Pessoais</h3>
        <div>Nome Completo</div>
        <p>Renan gameplays</p>
        <div>E-mail</div>
        <p>renantutu@gmail.com</p>
      </div>
      <div class="line"></div>
      <a href="#"><p>Cadastrar um novo endereço de entrega</p> </a>
      <div class="identification-data">
        <div class="input-CEP">
          <input class="input-address" type="text" placeholder="CEP" />
          <a href="">Não sei meu CEP</a>
        </div>
        <div class="box-address">
          <p>
            <span class="material-symbols-outlined"> location_on </span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequuntur qui porro aut exercitationem minus sit eius dicta iste
            sunt quasi
          </p>
          <a href="">Nao e meu endereço</a>
        </div>

        <div class="input-complement">
          <input type="number" placeholder="Numero" />
          <input type="text" placeholder="Complemento" />
        </div>
        <input
          class="input-address inputs-identification"
          type="text"
          placeholder="Identificaçao Endereço"
        />
        <input
          class="input-address inputs-identification"
          type="text"
          placeholder="Renan Gomes"
        />
        <div class="register-address"><button>Cadastrar Endereço</button></div>
      </div>
    </form>
  </section>
  <section class="payment">
    <h2>2 Pagamento</h2>
    <h3>Escolha a forma de pagamento</h3>
    <button>Cartão de crédito</button>
    <button>Pix à Vista</button>
    <button>Boleto Bancário à Vista</button>
    <button>Pagamento com Carteira(Paypal)</button>
    <button>Cartão de crédito</button>
    <button>Depósito Transferência</button>
  </section>

  <section class="order-summary">
    <h2>Resumo do Pedido</h2>
    <div class="box-order-summary">
      <p>
        <img src="/assets/images/products/product-moleton.png" alt="" />Lorem
        ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      <p>Sabor</p>
      <div>R$</div>
      <div>Quantidade:</div>
      <div>R$</div>
    </div>
    <div class="subtotal-order">
      <div>subtotal <span>R$ </span></div>
      <div>Frete <span>R$ </span></div>
      <div>Total <span>R$ </span></div>
    </div>
    <p>Ganhe <a href="">110.000 pontos</a> nesta compra</p>
    <div class="back-cart">
      <a href="/carrinho"> <button>Voltar ao carrinho</button> </a>
    </div>
  </section>
</div> -->


<style>
  #form-checkout {
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }

  .container {
    height: 18px;
    display: inline-block;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2px;
    padding: 1px 2px;
  }
</style>
<form id="form-checkout">
  <div id="form-checkout__cardNumber" class="container"></div>
  <div id="form-checkout__expirationDate" class="container"></div>
  <div id="form-checkout__securityCode" class="container"></div>
  <input type="text" id="form-checkout__cardholderName" />
  <select id="form-checkout__issuer"></select>
  <select id="form-checkout__installments"></select>
  <select id="form-checkout__identificationType"></select>
  <input type="text" id="form-checkout__identificationNumber" />
  <input type="email" id="form-checkout__cardholderEmail" />

  <button type="submit" id="form-checkout__submit">Pagar</button>
  <progress value="0" class="progress-bar">Carregando...</progress>
</form>