    <head>
    <!-- CSS  -->
    <link rel="stylesheet" href="assets/css/home.css">
</head>
<body>
        <main>
        <h1 class="page-title"> Resultados da pesquisa </h1>
     
        <div class="search-box">
        <div class="filters">
        

        <span>Filtrar:</span>
        <select>
            <option>Disponibilidades</option>
            <option></option>
       </select>
        <select>
            <option>Tamanho</option>
            <option></option>
        </select>
        <select>
        
            <option>Cor</option>
            <option></option>
        </select>
       <select>
            <option>Preço</option>
            <option></option>
        </select>
        <select>
            <option>Tipo de produto</option>
            <option></option>
        </select>
    
    </div>
        
       <div class="orderby">
        <span>Organizar por:</span>
            <select>
                <option>Relevância</option>
                <option>Relevância</option>
                <option>Relevância</option>
            </select>
        <span>35 Resultados</span>
        </div>
    </div>
        
        

            <section class="products-container">
                <a href="/pg-product">
                    <div class="product-box">
                            <img class="imgBx" src="assets/images/products/product-moleton.png" alt="">
                            <h3>Nezuko Demon Slayer Kimetsu No Yaiba</h3>
                            <p>R$ 150.00</p>
                    </div>
                </a>
                </a>
                    <div class="product-box">
                        <img src="assets/images/products/product-action.png" alt="">
                        <h3>2 ACTION FIGURE: NEZUKO + TANJIRO</h3>
                        <p>R$ 79.99</p>
                    </div>
                    <div class="product-box">
                        <img src="assets/images/products/product-action.png" alt="">
                        <h3>2 ACTION FIGURE: NEZUKO + TANJIRO</h3>
                        <p>R$ 79.99</p>
                    </div>
                    <div class="product-box">
                        <img src="assets/images/products/product-action.png" alt="">
                        <h3>2 ACTION FIGURE: NEZUKO + TANJIRO</h3>
                        <p>R$ 79.99</p>
                    </div>
                    <div class="product-box">
                        <img src="assets/images/products/product-action.png" alt="">
                        <h3>2 ACTION FIGURE: NEZUKO + TANJIRO</h3>
                        <p>R$ 79.99</p>
                    </div>
                    <div class="product-box">
                        <img src="assets/images/products/product-action.png" alt="">
                        <h3>2 ACTION FIGURE: NEZUKO + TANJIRO</h3>
                        <p>R$ 79.99</p>
                    </div>   
            </section>
            <div class="switch-page">
                <div>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <span>...</span>
                    <a href="#">8</a>
                    <a href="#" class='arrow'>Próxima
                    <img src="./assets/images/arrow.svg" alt="Seta">
                    </a></div>
            </div>
        </div>