    <head>
    <!-- CSS  -->
    <link rel="stylesheet" href="assets/css/home.css">
</head>
<body>
            <!--aqui era a parte dos anuncios-->
            
            <div>
                <center><br><br><br>
                    <style>
                        body {
                            color:#653EB5;
                        }
                    </style>
                    <h1> Resultados da pesquisa  </h1> 
                </center><br><br><br><br>
            </div>
            <!--daqui pra baixo foi Renan que fez-->
            <section class="products-container">
                <a href="/pg-product">
                    <div class="product-box">
                            <img class="imgBx" src="assets/images/product-moleton.png" alt="">
                            <h3>Nezuko Demon Slayer Kimetsu No Yaiba</h3>
                            <p>R$ 150.00</p>
                    </div>
                </a>
                </a>
                    <div class="product-box">
                        <img src="assets/images/product-action.png" alt="">
                        <h3>2 ACTION FIGURE: NEZUKO + TANJIRO</h3>
                        <p>R$ 79.99</p>
                    </div>
                    <div class="product-box">
                        <img src="assets/images/product-action.png" alt="">
                        <h3>2 ACTION FIGURE: NEZUKO + TANJIRO</h3>
                        <p>R$ 79.99</p>
                    </div>
                    <div class="product-box">
                        <img src="assets/images/product-action.png" alt="">
                        <h3>2 ACTION FIGURE: NEZUKO + TANJIRO</h3>
                        <p>R$ 79.99</p>
                    </div>
                    <div class="product-box">
                        <img src="assets/images/product-action.png" alt="">
                        <h3>2 ACTION FIGURE: NEZUKO + TANJIRO</h3>
                        <p>R$ 79.99</p>
                    </div>
                    <div class="product-box">
                        <img src="assets/images/product-action.png" alt="">
                        <h3>2 ACTION FIGURE: NEZUKO + TANJIRO</h3>
                        <p>R$ 79.99</p>
                    </div>   
            </section>
            <div class="switch-page">
                <div>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <span>...</span>
                    <a href="#">8</a>
                    <a href="#" class='arrow'>Próxima
                    <img src="./assets/images/arrow.svg" alt="Seta">
                    </a></div>
            </div>
        </div>