<span>
  <div>
  <div class="popup">
    <div class="popup-content"> 
      <a href="/home"> 
        <button class="popup-closeBtn"></button> 
      </a>
     
      <h2 class="popup-title">Esqueceu a senha&#63;</h2>
      <div> 
        <div color="black">
          <h4>Informe seu e-mail de cadastro e enviaremos um código para confirmar que é você </h4>
        </div> 
      </div>
  <form>
    <label class="sc-VigVT dSfpfv" id="email">
      <label class="sc-bwzfXH ckpBuh"> 
        <div color="black">E-mail:</div> 
        
        <input type="email" placeholder="Ex. LucasVinícius@gmail.com" name="E-mail" required="">
      </form>
      </div>
      </div> 
    </span>
        <style>
  .popup {
            position: absolute;
            top: 0;
            left: 0;
            
            height: 100vh;
            width: 100%;
            z-index: 9;
            overflow-y: auto;
            background: linear-gradient(#f7f7f7, #f7f7f7);
            
          }
  
  
  
          .popup-content {
            padding: 9px 15px 0;
            background-color: rgb(255, 255, 255);
            min-height: 100vh;
            position: relative;
            box-shadow: 0 5px 6px hsla(0, 0%, 51%, 0.6);
          }
            .popup-leave.popup-leave-active {
            opacity: 0.01;
            transform: scale(0.8) translateY(10vh);
            transition: all 200ms;
  
          }
  
          .popup-title {
            font-size: 1.25em;
            margin-top: 30px;
            color:#8462CA;
  
          }
  
          .popup-closeBtn {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0;
            right: 10px;
            top: 10px;
            cursor: pointer;
            border: none;
            outline: none;
            background-color: transparent;
            padding: 0;
          }
  
          .popup-closeBtn::before,
          .popup-closeBtn::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: rgb(104, 94, 94);
            top: 50%;
            margin-top: -1px;
          }
          .popup-closeBtn::after {
            transform: rotate(45deg);
          }
          .popup-closeBtn::before {
            transform: rotate(-45deg);
          }
  
            .popup {
              display: flex;
              align-items: center;
              justify-content: center;
              
  
  
            }
            .popup-content {
              max-width: 400px;
              min-height: unset;
              padding-bottom: 20px;
            }

            input{
              border: solid 1px;
              border-radius: 3px;
              
            }
            
</style>
</body>
</html>