

  <div>
  <div class="popup">
    <div class="popup-content"> 
      <a href="/home"> 
        <button class="popup-closeBtn"></button> 
      </a>
     
      <h2 class="popup-title">Esqueceu a senha&#63;</h2>
      <div> 
        <div>
          <h4 id="perg-senha">Informe seu e-mail de cadastro e enviaremos um código para confirmar que é você </h4>
        </div> 
      </div>
  <form id="email-senha">     
        <input type="email" placeholder="E-mail@" name="E-mail" required="" id="email-senh">
      </form>
      <div id="send-password">
        <button href="#" type="submit" class="text" class="text-block" id="button-password"> ENVIAR </button>
      </div>
      </div>
      </div> 
   
        
</body>
</html>