

#cart {
  margin: 5rem;
}

#cart h2 {
  color: #8462CA;
  font-size: 2rem;
}

#product-cart {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  margin-bottom: 5rem;
  border: 1px solid #653EB5;
  height: 17.75rem; 
  width: 100%;
}

.product-image{
  width: 15rem;
  height: 15rem;
}

#description {
  width: 15rem;
}

#input-sum {
  width: 3rem;
  border: none;
  outline: transparent; 
  text-align: center;
  background: #fff;
  
}

#input-request {
  width: 2rem;
  border: none;
  outline: transparent; 
  text-align: center;
  background: #fff;
}

.request-values {
  margin-top: 0;
  margin-left: .4rem;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
}

.about {
  color: #8462CA;
  text-align: center;
  margin-bottom: 1rem;
}

.button-sum {
  width: 3.5rem;
  color: #ffffff;
  background: #653EB5;
  border-radius: 2px;
  border: none;
}

.qtdButton {
  border: solid 1px #653EB5;
  border-radius: 5px;
}

.box-spg-req {
  display: flex;
  align-items: center;
  justify-content: center;
}

#box-shipping {
  display: flex;
  flex-direction: column;
}

.boxes {
  border: 1px solid #653EB5;
  margin: 5rem;
  padding: 1rem;
  width: 35.75rem;
  height: 32rem;
  gap: 1rem;
  box-shadow: 0 3px hsla(0, 0%, 82%, 0.6);
}

.line {
  border: 1px solid #8462CA;
}

form p {
  display: inline-block;
  margin-top: 1rem;
}

form span {
  float: right;
  margin-top: 1rem;
}

.input-search {
  height: 2.2rem;
  width: 12rem;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: solid 1px;
  background-color: #FDF7F7;
  outline: transparent;
}

#shipping {
  display: flex;
  align-items: center;
}

#shipping p{
  margin-bottom: 1rem;
  padding-right: 4rem;
}

.button-search-shipping {
  width: 3.2rem;
  height: 2.2rem;
  color: #ffffff;
  background: #653EB5;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
}

#box-request p {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#box-request span {
  float: right;
}

.button-links {
  float: right;
  margin-top: 3rem;
}

.button-links button {
  height: 3rem;
  width: 20rem;
}

.button-links a button {
  background: #653EB5;
  border: 1px solid #653EB5;
  color: #fff;
  border-radius: 4px;
}

.button-links div button {
  background:#fff;
  color: #8462CA;
  border: 1px solid #653EB5;
  border-radius: 4px;
}

#input-value {
  width: 3.7rem;
  border: none;
  outline: transparent; 
  font-size: 1rem;
  background: #fff;
}

#bus {
  display: flex;
}

#box-qtd {
  display: flex;
  gap: 5rem;
}

@media (max-width: 550px) {
  header {
    width: 100%;
  }

  img {
    width: 1rem;
  }

  #cart {
    margin-top: 15rem;
  }

  #product-cart {
    height: 100%;
    width: 29.7rem;
  }

  .qtd-button {
    margin-bottom: 5rem;
    display: flex;
  }
  

  #bus {
    display: block;
  }

  #box-qtd {
    display: block;
    text-align: center;
  }

  .product-image {
    width: 5rem;
    height: 5rem;
  }

  .box-spg-req  {
    display: block;
  }
}

@media (max-width: 330px) {
  header {
    width: 36rem;  
    padding-left: 0;
  }
}