.cart-empty {
  height: 60vh;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

.cart-empty button {
  margin: 3.5rem;
  padding: 0.625rem 1.25rem;
  background: #5F68FF;
  color: #fff;
  border-radius: 3px;
  border: none;
}

.cart-empty h1 {
  font-size: 3.7rem;
}

.cart-empty h2 {
  margin-bottom: 2rem;
}

.cart-empty .title{
  color: #8462CA;
}

.cart-empty #link {
  color: var(--black);

  text-decoration: underline;

}