/* --------- ad-box  */

main .ad-container{
    width: 80.0rem;
    margin: 3.0rem auto;

}
main .ad-container img{
    width: 100%;
}

/* --- products-container  */


.products-container {
    width: 90%;
    margin: 0 auto;
    
    justify-items: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 3.3rem;
}
.products-container .product-box{
    width: 32rem;
    height: 44rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius:2rem;
    overflow: hidden;
    transition: .5s;
    
    cursor: pointer;
}
.products-container .product-box .imgBx{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;    
}
.products-container .product-box .imgBx img {
    max-width: 90%;
    max-width: 25rem;
    transition: .5s;
}
.product-box:hover .imgBx img {
    max-width: 75%;
}
.products-container .product-box h3{
    font-weight: 500;
    color: var(--black);
    line-height: 1.3;
    padding: 1rem 0.4rem 0 0.4rem;
    text-align: center;

    font-size: var(--normal-font-size);
}

.products-container .product-box p{
    font-weight: 600;
    font-size: var(--h2-font-size);
    

    margin-top: 1rem;
    color: var(--light-blue); 
    letter-spacing: 1px;
    
}

.product-box .buy{
        position: relative;
        padding: 1rem 3rem;
        top: 20rem;
        opacity: 0;
        margin-top: 1rem;
        color: #fff;
        text-decoration: none;
        background: var(--light-blue);
        border-radius: 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: .4s;
}
.product-box:hover .buy {
    top: 0;
    opacity: 1;
}
.product-box:hover .buy:hover {
    filter: contrast(150%)
}

/* --- Swiper  */

.swiper {
    width: 100%;
    height: 100%;
    
  }
  
  .swiper-slide {
    text-align: center;
    background: #fff;

    
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
 
  
  .swiper .swiper-pagination-bullet{
    height: 1rem;
    width: 3rem;
    border-radius: 25px;
    background: var(--white);
  }
  
  .swiper .swiper-button-next, .swiper .swiper-button-prev{
    opacity: 0.7;
    color: var(--white);
    transition: all 0.3s ease;
  }
  .swiper .swiper-button-next:hover, .swiper .swiper-button-prev:hover{
    opacity: 1;
    color: var(--white);
  }



/* ------------- switch page */
.switch-page{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 4.1rem;
}

.switch-page .arrow{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;

    font-weight: 300;
    padding-right: 0;
}
.switch-page img{
    width: 1.5rem
}

.switch-page a {
    color: var(--black);
    font-weight: 400;

    font-size: var(--normal-font-size);
    padding-right: 0.5rem;
}
.switch-page a:visited, .switch-page a:link {
    color: var(--black);
}

@media (max-width: 750px) {
    .top-header {
        width: 90rem;
    }
}

@media (max-width: 500px) {
    header {
        width: 50rem;
    }

    .top-header {
        width: 45rem;
    }

    .content {
        width: 50rem;
        margin-top: 5rem;
        
    }

    .products-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .products-container .product-box {
        width: 15rem;
        height: 32rem;
    }

    main .ad-container {
        width: 45rem;
        height: 20rem;
    }

    .ad-container img {
        width: 35rem;
        height: 20rem;
    }
    }

    @media (max-width: 330px) {
        .headerTop {
          width: 45rem;  
          padding-left: 0;
        }

        .top-header {
            width: 40rem;
        }

        .content {
            width: 45rem;
        }
    }