html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#ffffff, #ffffff); 
}

.login-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  width: 50rem;
  height: 100%;
  padding: 2.5rem;
  font-size: 2rem;

  background: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px hsla(239, 100%, 91%, 0.6);
  border-radius: 10px;
  
}

.login-box h2 {
  margin: 0 0 1.8rem;
  padding: 0;
  color: rgb(0, 0, 0);
  text-align: center;
}

.no-event {
  pointer-events: none;
}

.login-box .user-box input {
  width: 100%;
  padding: 0.6rem 0;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-bottom: 1.8rem;
  border: none;
  border-bottom: 0.01rem solid rgb(0, 0, 0);
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  top: 0;
  left: 0;
  padding: 0.6rem, 0;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -1.25rem;
  left: 0;
  color: #5f68ff;
  font-size: 0.7rem;
}

.divsexo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.divsexo input[type="radio"]{
  appearance: none;
  background-color: #fff;
  margin: 0;

  font: inherit;
  color: var(--light-purple);
  width: 1em;
  height: .75em;
  border: 0.15em solid var(--light-purple);
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;

}

.divsexo input[type="radio"]::before {
  content: "";
  width: .60em;
  height: .70em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: var(--light-purple);
}

.divsexo input[type="radio"]:checked::before {
  transform: scale(1);
}

.divsexo label{
  text-align: center;
}

.input_block {
  font-size: 2rem;
  line-height: 1.1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.input_block:focus-within {
  color: var(--var(--light-blue));
}
.input_block span{
  font-size: 1.6rem;
}

#forgot-password {
  color: #9e9d9d;
  font-size: 2rem;
  text-decoration: underline;
}

.change {
  color: #9e9d9d;
  
}

.change-box a, .change-box a:visited, .change-box a:active {
  font-size: 2rem;
  color: var(--light-gray);
  text-decoration: underline;
}

.change-box {
  text-align: center;
}


.login-box form #enter {
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  padding: 0.6rem 1.25rem;
  background: #5f68ff;
  color: #ffffff;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;
  margin-top: 5rem;
  margin-bottom: 1.25rem;
  letter-spacing: 0.25rem;
}

.login-box #enter span {
  position: absolute;
  display: block;
}

.login-box form #create {
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  padding: 0.6rem 1.25rem;
  background: #5f68ff;
  color: #ffffff;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  letter-spacing: 0.25rem;
}

@media (max-width: 700px) {
  header {
    width: 70rem;
  }
  .login-box {
    width: 50rem;
  }
  .top-header {
    width: 40rem;
  }
  .bottom-header {
    width: 35rem;
  }
}

@media (max-width: 500px) {
  header {
    width: 50rem;
  }
  .login-box {
    margin-top: 10rem;
    width: 45rem;
    height: 20%;
  }
}

@media (max-width: 330px) {
  header {
    width: 45rem;  
    padding-left: 0;
  }
}