/* --------------- product */

.container-product{
    margin-top: 5.1rem;
    display: flex;
    gap: 5rem;
}
.container-product > img{
    width: 67rem;
    border: 0.1rem solid var(--dark-purple);
}
.container-product .sell-info{
    border: 0.1rem solid var(--dark-purple);
    padding: 3.5rem;
}
.sell-info h1{
    font-weight: 400;
    font-size: 4rem;
    margin: 0 auto;

    margin-bottom: 2rem;
}
.sell-info > p{
    font-weight: 400;
    font-size: 2.4rem;
    color: var(--light-blue);
}
.sell-info .method-card{
    display: flex;
    align-items: center;
    gap: 0.5rem;

    margin-bottom: 1.6rem;
}
.method-card span {
    font-size: 1.4rem;
    font-family: 300;
}

.select-color{
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.container-product .select-color p,
.container-product .select-size p{
    font-weight: 100;
    font-size: 1.4rem;
}
.container-product .select-buttons{
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
}
.container-product .select-buttons button{
    width: 9rem;
    height: 3.7rem; 

    color: var(--dark-purple);
    background: var(--white);
    border: 1px solid var(--dark-purple);
    
    font-weight: 100;

    cursor: pointer;

    border-radius: 0.5rem;

    transition: .3s;
}
.container-product .select-buttons button.selected{
    background: var(--dark-purple);
    color: var(--white);
    
}

.container-product .stock-box{
    margin-top: 2rem;
}

.stock-box p{
    font-weight: 100;
    font-size: 1.4rem;
}

.shop-infos{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    margin-top: 2rem;
}
.shop-infos .delivery img{
    width: 2.6rem;
}

.shop-infos p{
    color: var(--light-blue);
}

.shop-infos span{
    color: var(--black);
    padding: 0 .7rem;
}

.sell-info .send-button button{ 
    width: 33rem;
    height: 5rem;
    border-radius: .5rem;

    background-color: var(--dark-purple);
    color: var(--white);
}
.send-button{
    display: flex;
    justify-content: center;
    align-items: center;   

    margin-top: 4.5rem;
}
/* --------------- description */
.container-description{
    display: flex;

    margin-top: 3rem; 
    gap: 5rem;
}
.mozaico-product{
    width: 67rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
}
.mozaico-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 1.2rem;
    border: 1px solid var(--dark-purple);
}

.product-info h3{
    font-size: var(--h2-font-size);
    font-weight: 600;
}
.product-description p{
    color: var(--dark-purple);
    margin-top: 0.5rem;
}
.product-description span{
    font-weight: 400;
    color: var(--black);
}
.infosize-images{
    width: 100%;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* --------------- rating */
.rating-container {
    margin-top: 5rem;
}
.rating-title{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.rating-box{
    border: 1px solid var(--dark-purple);
    height: 25rem;
    padding: 3rem;
    margin-top: 4rem;
}

.rating-header{
    display: flex;
    justify-content: space-between;
}
.rate-info{
    font-size: var(--normal-font-size);
    font-weight: 300;

    margin-left: .7rem;
}

.rating-description{
    padding: 2rem 0;
}

.rating-description p {
    overflow: hidden;
    display: -webkit-box;
     -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.rate-btn{
    display: flex;
    align-items: center;
    justify-content:center;

    margin-top: 6rem;
}
.rate-btn .btn-outlined{
    width: 22rem;
    height: 5rem;
}

/* --------- More products */

.products-container{
    display: flex;
    gap: 2rem;
    margin-top: 4rem;
}

.products-container .product-box{
    width: 32rem;
    height: 44rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius:2rem;
    overflow: hidden;
    transition: .5s;
    
    cursor: pointer;
}
.products-container .product-box .imgBx{
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
.products-container .product-box .imgBx img {
    max-width: 80%;
    transition: .5s;
}
.product-box:hover .imgBx img {
    max-width: 75%;
}
.products-container .product-box h3{
    font-weight: 500;
    color: var(--black);
    line-height: 1.3;
    padding: 1rem 0.4rem 0 0.4rem;
    text-align: center;

    font-size: var(--normal-font-size);
}

.products-container .product-box p{
    font-weight: 600;
    font-size: var(--h2-font-size);
    
    margin-top: 1rem;
    color: var(--light-blue); 
    letter-spacing: 1px;
    
}

.product-box .buy{
    position: relative;
    padding: 1rem 3rem;
    top: 20rem;
    opacity: 0;
    margin-top: 1rem;
    color: #fff;
    text-decoration: none;
    background: var(--light-blue);
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .4s;
}
.product-box:hover .buy {
top: 0;
opacity: 1;
}
.product-box:hover .buy:hover {
    filter: contrast(150%)
}

.btn-all{ 
    display: flex;
    align-items: center;
    justify-content: center;  
    transition: .4s;
    margin: 3rem 0 6rem 0;
}
.btn-all button{
    height: 5rem;
    padding: 0 5rem;
    display: none;

    border-radius: .5rem;
    display: flex;
    align-items: center;
    
    background-color: var(--light-blue);
    color: var(--white);
    transition: .4s;
    font-weight: 400;
}
.btn-all button:hover{
    filter:contrast(150%);
}
