
.modalButton button{
    background-color: var(--green);
    position: fixed;
    right: 5rem;
    bottom: 5rem;

    cursor: pointer;
    width: 7rem;
    height: 7rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50rem;
}
.modalButton img{
    height: 4rem;
}

.popup-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
}
.popup-wrapper.active{
    opacity: 1;
    visibility: visible;
   
}

.popup{
    z-index: 0;
}

.popup .form-button{
    color: white;
    cursor: pointer;
    padding: 6px 10px;
    text-decoration: none;
    background: crimson;
}
.popup-close{
    position: absolute;
    margin-left: 410px;
    padding: 5px 12px;
    cursor: pointer;
    background-color: #50A74D;
    border-radius: 60px;
}


#one {
    background: #50A74D;
    border-radius: 20px;
    height: 30rem;
    Width: 450px;
    margin: auto;
    color: aliceblue;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-top: 1rem;
}

#two {
    background: white;
    border-radius: 20px;
    padding: 2rem;
    Width: 450px;
    margin: auto;
    color: #0D114F;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
#tit {
    margin-left: 20px;
    padding-top: 30px;
}
#perg {
    font-weight: lighter;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    margin-right: 20px;
}
.msg {
    width: 410px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 1rem;
}
.lista details summary{
    background-color: #fff;
    padding: 1.2rem;
    border-bottom: 2px solid #0D114F;
    font-weight: 600;   
}
.lista details p{
   
    color: var(--dark-gray);
    padding: 2%;
}
#subtitulo {
    text-align: center;
    font-size: 23px;
  
    font-weight: 600;
    margin-bottom: 20px;

}
