
.modalButton button{
    background-color: var(--green);
    position: fixed;
    right: 5rem;
    bottom: 5rem;

    cursor: pointer;
    width: 7rem;
    height: 7rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50rem;
}
.modalButton img{
    height: 4rem;
}

.popup-wrapper{
    display: none;
    background: rgba(0,0,0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.popup-wrapper.active{
    display: inherit;
   
}
.popup{
    border-radius: 10%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: left;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    color: #0D114F;
    background: #EDEDFF;
    position: relative;
}
.popup .form-button{
    color: white;
    cursor: pointer;
    padding: 6px 10px;
    text-decoration: none;
    background: crimson;
}
.popup-close{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #8462CA;
    border-radius: 0%;
}
.lista details summary{
    background-color: #fff;
    padding: 2%;
    border-bottom: 2px solid #0D114F;
    font-weight: 600;   
}
.lista details p{
    background-color: #bebebe;
    color: black;
    padding: 2%;
}