<!DOCTYPE html>
<head>
    <title>Venus Store | Moda Otaku Masculina e Feminina</title>

    <!-- META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS  -->
    <link rel="stylesheet" href="assets/css/global.css">

       <!-- IMPORTS  -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- ICON -->
    <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon">

    <!-- JAVASCRIPT -->
    <script src="scripts/main.js" defer type="module"></script>
</head>
</header>
<body>
    <header>
        <section class="top-header">
        <a href="/"><img src="assets/images/logo.svg" alt="Logo Venus Store"></a>
    
        <div class="search">
            <div>
            <form>
        <img src="assets/images/search.svg" alt="Pesquisar">
            <label for-id="search-bar" class="sr-only">Barra de Pesquisa</label>
            <input autocomplete="off" id="search-"type="text" name="search" id="search-bar" placeholder="Pesquisar Produto">
            </form>
        </div>
        </div>
        <div  class="features">
            <a href="/login" class="login-feature">
                <img src="./assets/images/human.svg" alt="Flor">
                <p>Faça Login</p>
            </a>
    
            <a href="#" class="cart-feature">
                <img src="./assets/images/cart.svg" alt="Carrinho">
                <p>Carrinho</p>
            </a>
        </div>
        </section>
        <nav class='bottom-header'>
            <ul>
            <li><a href=#>Todos os produtos</a></li>
            <li><a href=#>Moda Anime</a></li>
            <li><a href=#>Acessórios</a></li>
            <li><a href=#>Camisetas</a></li>
            <li><a href=#>Moletons</a></li>
            </ul>
        </nav>
    </header>

    
    <main>
        <%- include(`./pages/${page}`)%>
    </main>

    <footer>
        <p>Todos os direitos reservados ao grupo 4 INF3DM</p>
    </footer>
</body>
</html>