<!DOCTYPE html>
<head>
    <title>Venus Store | Moda Otaku Masculina e Feminina</title>

    <!-- META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS  -->
    <link rel="stylesheet" href="/assets/css/global.css">
    <link rel="stylesheet" href="/assets/css/sac.css">

       <!-- IMPORTS  -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- ICON -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">

    <!-- JAVASCRIPT -->
    <script src="/scripts/main.js" defer type="module"></script>
</head>
</header>
<body>
    <%- include(`./partials/header`)%>
    <main>
        <%- include(`./pages/${page}`)%>
       <%- include(`./partials/modal`) %>
    </main>

    <%- include(`./partials/footer`) %>
</body>
</html>