<!DOCTYPE html>
<html lang="pt-br">
    <head>
    <title>Venus Store | Moda Otaku Masculina e Feminina</title>

    <!-- META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS  -->
    <link rel="stylesheet" href="assets/css/home.css">
    <link rel="stylesheet" href="assets/css/global.css">

    <!-- IMPORTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    
    <!-- ICON -->
    <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon">
    
    
</head>
<body>
    
        <header>
           
            <section class="top-header">
            <a href="home.html"><img src="assets/images/logo.svg" alt="Logo Venus Store"></a>

            <div class="search">
                <div>
                <form>
               <img src="assets/images/search.svg" alt="Pesquisar">
                <label for-id="search-bar" class="sr-only">Barra de Pesquisa</label>
                <input autocomplete="off" id="search-"type="text" name="search" id="search-bar" placeholder="Pesquisar Produto">
                </form>
            </div>
            </div>
            <div  class="features">
                <a href="login.html" class="login-feature">
                    <img src="./assets/images/human.svg" alt="Flor">
                    <p>Faça Login</p>
                </a>

                <a href="#" class="cart-feature">
                    <img src="./assets/images/cart.svg" alt="Carrinho">
                    <p>Carrinho</p>
                </a>
            </div>
        </section>
        <nav class='bottom-header'>
            <ul>
            <li><a href=#>Todos os produtos</a></li>
            <li><a href=#>Moda Anime</a></li>
            <li><a href=#>Acessórios</a></li>
            <li><a href=#>Camisetas</a></li>
            <li><a href=#>Moletons</a></li>
            </ul>
        </nav>
    
        </header>
        <main>
            
            <!--aqui era a parte dos anuncios-->
            
            <div>
                <center><br><br><br>
                    <style>
                        body {
                            color:#653EB5;
                        }
                    </style>
                    <h1> Resultados da pesquisa  </h1> 
                </center><br><br><br><br>
            </div>
            <!--daqui pra baixo foi Renan que fez-->
            <section class="products-container">
                <a href="pg-product.html">
                    <div class="product-box">
                            <img src="assets/images/product-moleton.png" alt="">
                            <h3>Nezuko Demon Slayer Kimetsu No Yaiba</h3>
                            <p>R$ 150.00</p>
                    </div>
                </a>
                </a>
                    <div class="product-box">
                        <img src="assets/images/product-action.png" alt="">
                        <h3>2 ACTION FIGURE: NEZUKO + TANJIRO</h3>
                        <p>R$ 79.99</p>
                    </div>
                    <div class="product-box">
                        <img src="assets/images/product-action.png" alt="">
                        <h3>2 ACTION FIGURE: NEZUKO + TANJIRO</h3>
                        <p>R$ 79.99</p>
                    </div>
                    <div class="product-box">
                        <img src="assets/images/product-action.png" alt="">
                        <h3>2 ACTION FIGURE: NEZUKO + TANJIRO</h3>
                        <p>R$ 79.99</p>
                    </div>
                    <div class="product-box">
                        <img src="assets/images/product-action.png" alt="">
                        <h3>2 ACTION FIGURE: NEZUKO + TANJIRO</h3>
                        <p>R$ 79.99</p>
                    </div>
                    <div class="product-box">
                        <img src="assets/images/product-action.png" alt="">
                        <h3>2 ACTION FIGURE: NEZUKO + TANJIRO</h3>
                        <p>R$ 79.99</p>
                    </div>   
            </section>
            <div class="switch-page">
                <div>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <span>...</span>
                    <a href="#">8</a>
                    <a href="#" class='arrow'>Próxima
                    <img src="./assets/images/arrow.svg" alt="Seta">
                    </a></div>
            </div>
        </div>
        </main>

        <footer>
            <p>Todos os direitos reservados ao grupo 4 INF3DM</p>
        </footer>
    
</body>
</html>
