<div class="cart-empty">
      <h1 class="title" id="cart">O seu carrinho está vazio</h1>
      <p>Deseja olhar outros produtos similares&#63;</p>
      <a href="/pesquisa"><button id="button">Continuar comprando</button></a>
      <h2 class="title" id="h2">Tem uma conta&#63;</h2>
      <p>
        <a href="/login" id="link">Fazer login</a> para realizar a compra com rapidez
      </p>
</div>