      <div>
        <section>
          <div id="cart">
            <h2>Carrinho</h2>
            <div id="product">
              <div>
                <img src="assets/images/product-moleton.png" class="product-image" alt="item" />
              </div>
              <div id="description">
                <p>
                  Lorem ipsum dolor sit amet
                  <br />
                  Impedit laboriosam
                </p>
                <br />
                <p>Cor: Preta</p>
                <p>Tamanho: M</p>
              </div>
              <div id="qtd">
                <p class="about">Quantidade</p>
                <div class="qtd-button">
                  <button class="button" id="subtraction">-</button>
                  <input type="number" id="input" value="1" disabled />
                  <button class="button" id="addition">+</button>
                </div>
              </div>
              <div>
                <p class="about">Valor</p>
                <div>
                  R$
                  <input
                    type="number"
                    name="Valor"
                    id="input-value"
                    value="150.00"
                    disabled
                  /><span></span>
                </div>
              </div>
            </div>
          </div>

          <div class="box">
            <div class="boxes" id="box-shipping">
              <form action="" method="post">
                <img src="Caminhon.svg" alt="" />
                <h3>Envio:</h3>
                <div id="shipping">
                  <img src="map.svg" alt="" />
                  <p>Calcular o frete</p>
                  <input type="search" class="input-search" />
                  <button class="button-search">OK</button>
                </div>
                <div class="line"></div>

                <div>
                  <input
                    type="radio"
                    name="Pagamento"
                    value="12.00"
                    id="input-1"
                  />
                  <p>Total Express - até 3 dias</p>
                  <span>R$ 12,00</span>
                  <br />
                  <input
                    type="radio"
                    name="Pagamento"
                    value="8.70"
                    id="input-2"
                  />
                  <p>Sedex - até 5 dias</p>
                  <span>R$ 8,70</span>
                  <br />
                  <input
                    type="radio"
                    name="Pagamento"
                    value="16.80"
                    id="input-3"
                  />
                  <p>Prime - até 7 dias</p>
                  <span>R$ 16,80</span>
                  <br />
                  <input
                    type="radio"
                    name="Pagamento"
                    value="9.30"
                    id="input-4"
                  />
                  <p>Loggi - até 11 dias</p>
                  <span>R$ 9,30</span>
                  <br />
                  <input
                    type="radio"
                    name="Pagamento"
                    value="30.00"
                    id="input-5"
                  />
                  <p>Azul - até 2 dias</p>
                  <span>R$ 30,00</span>
                  <br />
                  <input
                    type="radio"
                    name="Pagamento"
                    value="45.00"
                    id="input-6"
                  />
                  <p>Movvi - até amanhã</p>
                  <span>R$ 45,00</span>
                </div>
              </form>
            </div>
            <form action="/pag" method="post" class="boxes" id="box-request">
              <div>
                <h3>Resumo do Pedido</h3>
                <p>Subtotal</p>
                <span id="span-1"
                  ><input
                    name="subtotal"
                    type="number"
                    class="inputs"
                    id="sub"
                    value="150.00"
                    hidden
                    disabled
                  />R$ 150.00</span
                >
                <br />
                <div class="line"></div>
                <p>Frete</p>
                <span id="span-2"
                  ><input
                    name="frete"
                    type="number"
                    class="inputs"
                    id="freight"
                    value="0"
                    hidden
                    disabled
                  />
                  R$ 0.00
                </span>
                <br />
                <div class="line"></div>
                <p>Total</p>
                <span id="span-3">R$ 150</span>
                <br />
                <div class="button-links">
                  <a target="_blank" href="#"
                    ><button type="submit">Ir para o pagamento</button></a
                  >
                  <div>
                    <br />
                    <a href="#"><button>Voltar para loja</button></a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>

