<div>
      <h1 class="title" id="h1">O seu carrinho está vazio</h1>
      <p>Deseja olhar outros produtos similares&#63;</p>
      <a href=""><button id="button">Continuar comprando</button></a>
      <h2 class="title" id="h2">Tem uma conta&#63;</h2>
      <p>
        <a href="#" id="link">Fazer login</a> para realizar a compra com rapidez
      </p>
</div>