<footer>
  <p>Todos os direitos reservados ao grupo 4 INF3DM</p>
  <div class="social">
    <a href="https://instagram.com" target="_blank">
      <i class="icon-instagram" target="_blank"></i>
    </a>
    <a href="https://facebook.com" target="_blank">
      <i class="icon-facebook"></i>
    </a>
    <a href="https://youtube.com" target="_blank">
      <i class="icon-youtube"></i>
    </a>
  </div>
</footer>
