<div class="modalError-overlay active">
    <div class="modalError-wrapper">
        <div class="modalError-header">
        <p><%- err %></p>
        <button class="modalError-close">
         <span class="material-symbols-outlined">
                close
         </span>
        </button>
        </div>
        <div class="modalError-content">
            <button class="modalError-done">Ok</button>
        </div>
    </div>
</div>