<div class="modalButton">
    <button id="modalOpen">
        <img src="/assets/images/chat.svg" alt="">
    </button>
    <body>
        <div class="popup-wrapper">
            <div class="popup">
                <div class="popup-content">
                    <section id="one">
                        <div class="popup-close">x</div>
                        <div>
                            <h1 id="tit">Iniciar um chat conosco</h1>
                            <h4>
                                <p id="perg">👋 Olá! Podemos ajudar? Se quiser tirar alguma dúvida, é só fazer uma pergunta. A gente também pode mostrar algumas recomendações de produto, se você preferir. </p>
                            </h4>
                            <h2>
                                <input type="text" name="search" placeholder="Escrever mensagem" id="msg" />
    
                            </h2>
    
                        </div>
                    </section>
                    <section id="two">
                        <section id="subtitulo">
                            <br>
                            <h3">Respostas instântaneas</h3>
                        </section>
                        <div>
                            <section class="lista">
                                <details>
                                    <summary id="pedidos-sac">Meus pedidos</summary>
                                    <details>
                                        <summary>Consigo rastrear o minha Compra?</summary>
                                        <p>Sim. As informações mais atualizadas sobre sua Compra e a situação de entrega de
                                            sua Compra
                                            estão
                                            disponíveis em Meus pedidos. Além disso, você será notificado do andamento do
                                            seu pedido
                                            pelo e-mail informado.
                                    </details>
                                    
                                   
                                    <details>
                                        <summary>Não recebi todos os itens da minha Compra. O que faço? </summary>
                                        <p>Entre em contato com o nossa Central de Atendimento por telefone (xx) xxxx-xxxx
                                            ou via e-mail
                                            venusStore@gmail.com</p>
                                    </details>
 
                                </details>
                                <details >
                                    <summary id="pagamento-sac">Pagamento</summary>
                                    <details>
                                        <summary>Quais são os meios de pagamentos disponíveis?</summary>
                                        <p>No momento, o Site aceita apenas cartões de crédito emitidos no Brasil de todas
                                            as bandeiras.
                                        </p>
                                    </details>
                                    <details>
                                        <summary>Qual o procedimento se houver pagamento em duplicidade?</summary>
                                        <p>Você pode entrar em contato com nossa Central de Atendimento por telefone
                                            (xx)xxxx-xxxx ou
                                            por e-mail venusStore@gmail.com. Neste contato, você poderá solicitar o
                                            cancelamento do
                                            pagamento duplicado.</p>
                                    </details>
                                
                                    <details>
                                        <summary>Quais são as formas de parcelamento?</summary>
                                        <p>Todas as Compras feitas no cartão de crédito podem ser parceladas em até 6 (seis)
                                            vezes sem
                                            juros.</p>
                                    </details>
                                </details>
                                <details>
                                    <summary id="conta-sac">Conta</summary>
                                    <details>
                                        <summary>Como alterar minha senha?</summary>
                                        <p>Vá em seu perfil e clique em "Esqueci minha senha".</p>
                                    </details>
                                    <details>
                                        <summary>Como excluir minha conta?</summary>
                                        <p>Para excluir sua conta, você de ir em seu perfil e selecionar "Minha conta".</p>
                                    </details>
                                    <details>
                                        <summary>Como faço para receber as Ofertas da Vênus Store?</summary>
                                        <p>Você pode criar uma Conta de Acesso, ou simplesmente indicar seu e-mail e seu CEP
                                            em uma caixa de cadastro rápido.</p>
                                    </details>
                                </details>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </body>